@import '@styles/_variables';

.container {
  position: fixed;
  top: 24px;
  left: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size-lg;
  overflow: hidden;

  &Open {
    .resume,
    .settings > div:first-child,
    .settings > div:last-child {
      transform: translateY(0);
    }
  }
}

.right {
  display: flex;
}

.burger {
  margin-left: 1em;
  pointer-events: auto;
}

.resume {
  transform: translateY(-110%);
  transition: transform 0.2s ease-in-out;
}

.settings > div {
  &:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-150%);
  }

  &:last-child {
    transition: transform 0.4s ease-in-out;
    transform: translateY(-200%);
  }
}
