@import '@styles/_variables';

.container {
  & + & {
    margin-top: 1em;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.name,
.date {
  font-weight: 500;
}

.date {
  opacity: 0.8;
  font-size: $font-size-sm;
}

.description {
  margin-top: 0.25em;
}
