@import '@styles/_variables';

.container {
  & + & {
    margin-top: 1em;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name,
.date {
  font-weight: 500;
  span {
    text-wrap: nowrap;
  }
}

.date {
  opacity: 0.8;
  font-size: $font-size-sm;
}

.description {
  margin-top: 0.25em;
}
