@import '@styles/variables';

.app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: hidden;
  pointer-events: none;
}

.back {
  position: absolute;
  top: 25px;
  left: 25px;

  display: flex;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;

  svg {
    transform: rotate(90deg);
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 0.25em;
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(100% + 2px);
    left: 5%;
    height: 2px;
    background-color: $color-black;
    width: 0;
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    opacity: 1;

    &:after {
      width: 95%;
    }
  }
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  max-width: 1440px;
  width: calc(100% - 50px);

  @media (max-width: 1440px) {
    max-width: 1200px;
  }

  @media (max-width: 1024px) {
    max-width: 984px;
  }
}

.resume {
  position: fixed;
  right: 25px;
  top: 25px;
  z-index: 2;
}

.settings {
  position: fixed;
  bottom: 25px;
  right: 25px;
}

.contacts {
  position: absolute;
  left: 25px;
  bottom: 25px;
}
