@import '@styles/_variables';

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);

  width: 600px;
  height: 600px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50%;

  transition:
    left 0.2s ease-in-out,
    transform 0.2s ease-in-out;

  &Active {
    left: 0;
  }

  @media (max-width: 1440px) {
    // 25% smaller
    width: 450px;
    height: 450px;

    .dashedCircle {
      width: 337.5px;
      height: 337.5px;
    }

    .buttons {
      border: 7.5px solid $color-gray;
    }
  }
}

.dashedCircle {
  width: 450px;
  height: 450px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-wrap: nowrap;
  text-align: center;
  font-size: $font-size-xs;
  font-weight: 600;

  span {
    display: block;
    font-size: $font-size-lg;
    font-weight: 400;
  }
}

.buttons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 50%;
  border: 10px solid $color-gray;

  transition: transform 0.2s ease-in-out;

  animation-name: rotation;
  animation-duration: 2s;
}

@keyframes rotation {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(0deg);
  }
}
