@font-face {
  font-family: 'Karla';
  src: url('karla/Karla-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('karla/Karla-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('karla/Karla-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url('karla/Karla-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Moderustic';
  src: url('nunito/Moderustic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moderustic';
  src: url('nunito/Moderustic-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Moderustic';
  src: url('nunito/Moderustic-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Moderustic';
  src: url('nunito/Moderustic-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
