@import '@styles/_variables';

.button {
  position: absolute;

  width: 100px;
  height: 100px;
  cursor: pointer;

  &Top {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    .buttonText {
      bottom: 80%;
      left: 90%;
    }

    .background {
      background-color: $color-orange;
    }
  }

  &Right {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);

    .buttonText {
      top: 100%;
      left: 90%;
      transform: translate(0, -50%);
    }

    .background {
      background-color: $color-blue;
    }
  }

  &Bottom {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    .buttonText {
      top: 80%;
      right: 90%;
    }

    .background {
      background-color: $color-black;
    }
  }

  &Left {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

    .buttonText {
      bottom: 80%;
      right: 90%;
    }
    .background {
      background-color: $color-green;
    }
  }

  .buttonText {
    transition:
      top 0.2s ease-in-out,
      left 0.2s ease-in-out,
      transform 0.2s ease-in-out;
  }

  &Active {
    &.buttonRight .buttonText {
      top: 0;
      left: 65%;
      transform: translate(0, -100%);
    }

    &.buttonBottom .buttonText {
      top: 80%;
      right: 0;
      transform: translate(70%, 20%) rotate(90deg);
    }

    &.buttonLeft .buttonText {
      bottom: 0;
      right: 65%;
      transform: translate(0, 100%) rotate(180deg);
    }

    &.buttonTop .buttonText {
      top: 0;
      left: 0;
      transform: translate(-80%, -100%) rotate(-90deg);
    }
  }

  .buttonText {
    position: absolute;

    font-weight: 600;
    opacity: 0;
    transition: 0.2s ease-in-out;
  }

  .border,
  .background {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .border {
    border: 10px solid $color-gray;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform 0.3s ease-in-out;
    background: $color-white;
  }

  .background {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out;
  }

  &:hover,
  &Active {
    .background {
      transform: translate(-50%, -50%) scale(0.6);
    }
    .border {
      transform: translate(-50%, -50%) scale(1);
    }

    .buttonText {
      opacity: 1;
    }
  }
}
