@import '@styles/_variables';

.button {
  position: absolute;

  width: 100px;
  height: 100px;
  cursor: pointer;

  transition: transform 0.2s ease-in-out;

  &Top {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    .background {
      background-color: $color-orange;
    }
  }

  &Right {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);

    .background {
      background-color: $color-blue;
    }
  }

  &Bottom {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    .background {
      background-color: $color-black;
    }
  }

  &Left {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

    .background {
      background-color: $color-green;
    }
  }

  .buttonText {
    position: absolute;
    bottom: 80%;
    left: 90%;

    font-weight: 600;
    opacity: 0;
    transition: 0.2s ease-in-out;
  }

  .border,
  .background {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .border {
    border: 10px solid $color-gray;
    transform: translate(-50%, -50%) scale(0.5);
    transition: transform 0.3s ease-in-out;
    background: $color-white;
  }

  .background {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out;
  }

  &:hover,
  &Active {
    .background {
      transform: translate(-50%, -50%) scale(0.6);
    }
    .border {
      transform: translate(-50%, -50%) scale(1);
    }
    .buttonText {
      opacity: 1;
    }
  }

  @media (max-width: 1440px) {
    // 25% smaller
    width: 75px;
    height: 75px;

    .border {
      border: 7.5px solid $color-gray;
    }
  }

  @media (max-width: 1024px) {
    // 40% smaller
    width: 60px;
    height: 60px;

    .border {
      border: 6px solid $color-gray;
    }
  }
}
