@import '@styles/variables';

.container {
  position: fixed;
  top: 24px;
  left: 24px;
  right: 24px;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size-lg;
  overflow: hidden;
}

.right {
  display: flex;
}

.burger {
  margin-left: 1em;
  pointer-events: auto;
}
