@import '@styles/_variables';

.resume {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 2;

  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: 400;
  opacity: 0.9;
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    top: calc(100% + 2px);
    height: 3px;
    background-color: $color-black;
    width: 0;
    transition: width 0.3s ease-in-out;
  }

  &:hover {
    opacity: 1;
    &:after {
      width: 95%;
    }
  }
}
