.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  padding: 25px 16px;
  z-index: 3;
  transition: background 0.5s;
}

.title {
  color: #fff;
  font-size: 25px;
  font-weight: 600;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}

.items {
  position: relative;
  width: 100%;
  z-index: 0;
  margin-top: -50%;
  opacity: 0;
  background-color: transparent;
  transition: all 0.5s;
}

@media screen and (max-width: 768px) {
  .navbarActive {
    background-color: #fff;

    .title {
      color: #007bff;
    }

    .items {
      margin-top: 0;
      opacity: 1;
    }
  }
}