@import '@styles/variables';

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  overflow: hidden;
  pointer-events: none;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: $color-white;
    z-index: -1;
    opacity: 0;
    animation: hide 0.8s;
  }

  &Open {
    &:after {
      opacity: 1;
      animation: show 0.8s;
    }

    .container {
      pointer-events: auto;
    }
  }
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
}

.contacts {
  margin: 4em auto 0;
  overflow: hidden;

  & > a {
    transform: translateY(-110%);
    transition: transform 0.4s ease-in-out;

    &:first-child {
      transition: transform 0.3s ease-in-out;
    }

    &:last-child {
      transition: transform 0.5s ease-in-out;
    }
  }

  &Open {
    & > a {
      transform: translateY(0);
    }
  }
}

.header {
  position: relative;
  line-height: 1;
  font-size: $font-size-xs;
  padding: 24px 0;
  margin-bottom: 24px;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $color-black;
  }
}

.section {
  max-width: 450px;
  padding: 0 25px;
  margin: 0 auto;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
