@import '@styles/variables';

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  outline: none;

  font-size: inherit;
  font-family: inherit;
  font-weight: 400;

  &::placeholder {
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
  }
}

p {
  margin: 0;
  text-align: justify;

  & + & {
    margin-top: 1em;
  }
}
