@import '@styles/_variables';

.app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: hidden;
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  max-width: 1440px;
  width: 100%;
}

.section {
  position: fixed;
  top: 150%;
  right: 0;
  left: 500px; // TODO get menu width + 200px
  transform: translateY(-50%);

  transition: top 0.2s ease-in-out;

  &Active {
    top: 50%;
  }
}
