@import '@styles/_variables';

.app {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: hidden;
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  max-width: 1440px;
  width: calc(100% - 50px);
}

.section {
  position: absolute;
  top: 0;

  max-width: 1440px;
  width: calc(100% - 50px);
  margin: 0 auto;
  padding: 75px 125px 75px 475px;

  @media (max-width: 1440px) {
    padding-left: 375px;
  }
}
