@import '@styles/_variables';

html {
  font-size: 20px;

  @media (max-width: 1440px) {
    font-size: 18px;
  }
}

body {
  margin: 0;
  font-family:
    'Montserrat',
    system-ui,
    -apple-system,
    sans-serif;
  font-size: $font-size-md;
  line-height: $line-height-md;
  font-weight: 400;
  font-style: normal;
  background-color: $color-white;
  color: $color-black;

  &::after {
    content: '';
    position: fixed;
    top: -300%;
    left: -150%;
    height: 600%;
    width: 600%;
    z-index: 999;
    pointer-events: none;

    background-image: url('../assets/images/noise.png');
    background-size: 200px;
    background-repeat: repeat;
    opacity: 0.2;

    animation: grain 7s steps(10) infinite;

    @keyframes grain {
      0%,
      to {
        transform: translate(0);
      }

      10% {
        transform: translate(-5%, -10%);
      }

      20% {
        transform: translate(-15%, 5%);
      }

      30% {
        transform: translate(7%, -25%);
      }

      40% {
        transform: translate(-5%, 25%);
      }

      50% {
        transform: translate(-15%, 10%);
      }

      60% {
        transform: translate(15%);
      }

      70% {
        transform: translateY(15%);
      }

      80% {
        transform: translate(3%, 35%);
      }

      90% {
        transform: translate(-10%, 10%);
      }
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  outline: none;

  font-size: inherit;
  font-family: inherit;
  font-weight: 400;

  &::placeholder {
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
  }
}

p {
  margin: 0;
  text-align: justify;

  & + & {
    margin-top: 1em;
  }
}
