@import '@styles/_variables';

body {
  margin: 0;
  font-family:
    'Montserrat',
    system-ui,
    -apple-system,
    sans-serif;
  font-size: $font-size-md;
  line-height: $line-height-md;
  font-weight: 400;
  font-style: normal;
  background-color: $color-white;
  color: $color-black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  outline: none;

  font-size: inherit;
  font-family: inherit;
  font-weight: 400;

  &::placeholder {
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;
  }
}
