.list {
	display: flex;
	list-style: none;
}

.listItem {
	position: relative;
	color: #fff;
	cursor: pointer;
	padding: 8px 18px;
	font-weight: 500;
	text-transform: uppercase;
}

.listItem::before {
	content: "";
	background: #fff;
	width: 0;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 18px;
	transition: width 0.4s ease-in-out;
	animation-duration: 0.4s;
	animation-name: hoverAnimation;
}

.listItem:hover::before,
.listItem.active::before {
	width: 35px;
}

@keyframes hoverAnimation {
	from {
		width: 0px;
	}

	to {
		width: 35px;
	}
}

@media screen and (max-width: 768px) {
	.list {
		flex-direction: column;
		.listItem {
			color: #007bff;
			padding: 8px 0px;

			&::before {
				background-color: #007bff;
				margin-left: 0;
			}
		}
	}
}
