.hamburger {
	display: none;
	height: 22px;
	width: 26px;
}

.linesWrapper {
	position: absolute;
	z-index: 2;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 21px;
	width: 25px;

	.line {
		display: block;
		height: 3px;
		width: 100%;
		background: #fff;

		&:nth-child(1) {
			transform-origin: 0% 0%;
			transition: transform 0.4s ease-in-out;
		}

		&:nth-child(2) {
			transition: transform 0.2s ease-in-out;
		}

		&:nth-child(3) {
			transform-origin: 0% 100%;
			transition: transform 0.4s ease-in-out;
		}
	}




	&Active {
		.line {
			background-color: #000;

			&:nth-child(1) {
				transform: rotate(47deg);
			}

			&:nth-child(2) {
				transform: scaleY(0);
			}

			&:nth-child(3) {
				transform: rotate(-47deg);
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.hamburger {
		display: block;
	}
}
