// COLORS
$color-white: #ffffff;
$color-gray: #d9d9d9;

// FONT SIZES
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-xxl: 32px;

$line-height-md: 1.25;
$line-height-lg: 1.5;
