// COLORS
$color-white: #ffffff;
$color-gray: #d9d9d9;
$color-black: #252323;
$color-orange: #e5dcc5;
$color-blue: #848fa5;
$color-green: #d0ddd7;
$color-dark: #11151c;

// FONT SIZES
$font-size-sm: 16px;
$font-size-md: 28px;
$font-size-lg: 32px;
$font-size-xl: 46px;

$line-height-md: 1.25;
$line-height-lg: 1.5;
