// COLORS
$color-white: #ffffff;
$color-gray: #d9d9d9;
$color-black: #252323;
$color-orange: #e5dcc5;
$color-blue: #848fa5;
$color-green: #d0ddd7;
$color-dark: #11151c;

$color-black-theme-black: #393e46;
$color-black-theme-white: #eeeeee;

// FONT SIZES
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xs: 2rem;

$line-height-md: 1.25;
$line-height-lg: 1.5;
