.container {
  position: absolute;
  left: 50px;
  bottom: 50px;

  display: flex;
}

.link {
  width: 46px;
  height: 46px;
  cursor: pointer;
  opacity: 0.9;
  transition: transform 0.2s ease-in-out;

  & + & {
    margin-left: 15px;
  }

  &:hover {
    opacity: 1;
    transform: scale(1.25);
  }
}
